


{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="container is-fluid">
<div class="content"><p>
All defined terms used below shall have the meanings set forth in our Terms and Conditions. See [TERMS AND CONDITIONS].

Last Updated: 4 / 20 / 2021
Disclaimer

Consent

By using our website, you hereby consent to our disclaimer and agree to its terms.

All the information on this website - https://www.topfollow.us/ - is published in good faith and for general information purpose only. topfollow.us does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (www.topfollow.us), is strictly at your own risk. topfollow.us will not be liable for any losses and/or damages in connection with the use of our website.

From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'.

Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their "Terms of Service" before engaging in any business or uploading any information. 

</p>

<span><b>Copyright © topfollow.us 2021</b></span>
<p>
All files and information contained in this Website or Blog are copyright by topfollow.us, and may not be duplicated, copied, modified or adapted, in any way without our written permission. Our Website or Blog may contain our service marks or trademarks as well as those of our affiliates or other companies, in the form of words, graphics, and logos. Your use of our Website, Blog or Services does not constitute any right or license for you to use our service marks or trademarks, without the prior written permission of topfollow.us. Our Content, as found within our Website, Blog and Services, is protected under United States and foreign copyrights. The copying, redistribution, use or publication by you of any such Content, is strictly prohibited. Your use of our Website and Services does not grant you any ownership rights to our Content.</p>
</div></div>
{% endblock %}