{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="container is-fluid">
  <div class="section profile-heading">
    <div class="columns is-mobile is-multiline">
      <div class="column is-2">
        <span class="header-icon user-profile-image">

        </span>
      </div>
      <div class="column is-4-tablet is-10-mobile name">
        <p>
          <span class="title is-bold"> topfollow.us</span>
          <br>

          <br>
        </p>
        <p class="tagline">
         Use social media like a pro! <br>
          topfollow brings you the tools the pros use for way less!
        </p>
      </div>
      <div class="column is-2-tablet is-4-mobile has-text-centered">
        <p class="stat-val">120k</p>
        <p class="stat-key">orders processed</p>
      </div>
      <div class="column is-2-tablet is-4-mobile has-text-centered">
        <p class="stat-val">480k</p>
        <p class="stat-key">likes given away</p>
      </div>
      <div class="column is-2-tablet is-4-mobile has-text-centered">
        <p class="stat-val">6hr</p>
        <p class="stat-key">process time</p>
      </div>
    </div>
  </div>
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-auto">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://i.ibb.co/df3HphF/Screenshot-2021-10-26-at-13-48-51-Title-Instagram-Social-Media-Technology-Wallpaper-Background-Image.png" alt="Screenshot-2021-10-26-at-13-48-51-Title-Instagram-Social-Media-Technology-Wallpaper-Background-Image" border="0">
            </figure>
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  100 Followers
                </p>
                <button class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true">
                      <div class="tag is-large is-success">$4.99USD</div>
                    </i>
                  </span>
                </button>
              </header>
              <div class="card-content">
                <div class="content">
                  <div class="tag is-link">ORDER NOW FOR 100 LIKES FREE!</div>
                  <p>
                    <li>No Password Required </li>
                    <li>Quick Delivery</li>
                    <li>pre-delivery refund</li>
                    <li> chance free views</li>
                  </p>
                  <time datetime="2016-1-1"> <i>updated:</i>8/2021</time>
                </div>
              </div>
              <footer class="card-footer">
                <a href="http://topfollow.us/instagram/checkout-instagram" class="card-footer-item">Order Now</a>

              </footer>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-auto">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://i.ibb.co/df3HphF/Screenshot-2021-10-26-at-13-48-51-Title-Instagram-Social-Media-Technology-Wallpaper-Background-Image.png" alt="Screenshot-2021-10-26-at-13-48-51-Title-Instagram-Social-Media-Technology-Wallpaper-Background-Image" border="0">
            </figure>
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  500 Followers
                </p>
                <button class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <div class="tag is-large is-success">$9.99USD</div>
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </header>
              <div class="card-content">
                <div class="content">
                  <div class="tag is-link">ORDER NOW FOR 100 LIKES FREE!</div>
                  <p>
                    <li>No Password Required </li>
                    <li>Quick Delivery</li>
                    <li>pre-delivery refund</li>
                    <li> chance free views</li>
                  </p>
            
                  <time datetime="2016-1-1"> <i>updated:</i>8/2021</time>
                </div>
              </div>
              <footer class="card-footer">
                <a href="http://topfollow.us/instagram/checkout-instagram" class="card-footer-item">Order Now</a>

              </footer>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-auto">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://i.ibb.co/df3HphF/Screenshot-2021-10-26-at-13-48-51-Title-Instagram-Social-Media-Technology-Wallpaper-Background-Image.png" alt="Screenshot-2021-10-26-at-13-48-51-Title-Instagram-Social-Media-Technology-Wallpaper-Background-Image" border="0">
            </figure>
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  1,000 Followers
                </p>
                <button class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <div class="tag is-large is-success">$19.99USD</div>
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </header>
              <div class="card-content">
                <div class="content">
                  <div class="tag is-link">BUY NOW GET 500 FREE LIKES!</div>
                  <p>
                    <li>No Password Required </li>
                    <li>Quick Delivery</li>
                    <li>pre-delivery refund</li>
                    <li> chance free views</li>
                  </p>
            
                  <time datetime="2016-1-1"> <i>updated:</i>8/2021</time>
                </div>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a href="http://topfollow.us/instagram/checkout-instagram" class="card-footer-item">Order Now</a>
          </footer>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-auto">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://i.ibb.co/df3HphF/Screenshot-2021-10-26-at-13-48-51-Title-Instagram-Social-Media-Technology-Wallpaper-Background-Image.png" alt="Screenshot-2021-10-26-at-13-48-51-Title-Instagram-Social-Media-Technology-Wallpaper-Background-Image" border="0">
            </figure>
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  2,000 Followers
                </p>
                <button class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <div class="tag is-large is-success">$24.99USD</div>
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </header>
              <div class="card-content">
                <div class="content">
                  <div class="tag is-link">BUY NOW GET 500 FREE LIKES!</div>
                  <p>
                  <li>No Password Required </li>
                  <li>Quick Delivery</li>
                  <li>pre-delivery refund</li>
                  <li> chance free views</li>
                  </p>
                  <time datetime="2016-1-1"> <i>updated:</i>8/2021</time>
                </div>
              </div>
              <footer class="card-footer">
                <a href="http://topfollow.us/instagram/checkout-instagram" class="card-footer-item">Order Now</a>

              </footer>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-auto">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://i.ibb.co/df3HphF/Screenshot-2021-10-26-at-13-48-51-Title-Instagram-Social-Media-Technology-Wallpaper-Background-Image.png" alt="Screenshot-2021-10-26-at-13-48-51-Title-Instagram-Social-Media-Technology-Wallpaper-Background-Image" border="0">
            </figure>
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  3,000 Followers
                </p>
                <button class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <div class="tag is-large is-success">$29.99USD</div>
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </header>
              <div class="card-content">
                <div class="content">
                  <div class="tag is-link">BUY NOW GET 1,000 VIEWS FREE!</div>
                  <p>
                    <li>No Password Required </li>
                    <li>Quick Delivery</li>
                    <li>pre-delivery refund</li>
                    <li> chance free views</li>
                  </p>
                
                  <time datetime="2016-1-1"> <i>updated:</i>8/2021</time>
                </div>
              </div>
              <footer class="card-footer">
                <a href="http://topfollow.us/instagram/checkout-instagram" class="card-footer-item">Order Now</a>

              </footer>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-auto">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://i.ibb.co/df3HphF/Screenshot-2021-10-26-at-13-48-51-Title-Instagram-Social-Media-Technology-Wallpaper-Background-Image.png" alt="Screenshot-2021-10-26-at-13-48-51-Title-Instagram-Social-Media-Technology-Wallpaper-Background-Image" border="0">
            </figure>
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  5,000 Followers
                </p>
                <button class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <div class="tag is-large is-success">$48.99USD</div>
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </header>
              <div class="card-content">
                <div class="content">
                  <div class="tag is-link">BUY NOW GET 1,000 FREE LIKES!</div>
                  <p>
                    <li>No Password Required </li>
                    <li>Quick Delivery</li>
                    <li>pre-delivery refund</li>
                    <li> chance free views</li>
                  </p>
               
                  <time datetime="2016-1-1"> <i>updated:</i>8/2021</time>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  {% endblock %}