{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="container is-fluid">
  <div class="section profile-heading">
    <div class="columns is-mobile is-multiline">
      <div class="column is-2">
        <span class="header-icon user-profile-image">

        </span>
      </div>
      <div class="column is-4-tablet is-10-mobile name">
        <p>
          <span class="title is-bold"> topfollow.us</span>
          <br>

                  <br>
                </p>
                <p class="tagline">

                  Use social media like a pro! <br>
                  topfollow brings you the tools the pros use for way less!

                </p>
              </div>
              <div class="column is-2-tablet is-4-mobile has-text-centered">
                <p class="stat-val">82k</p>
                <p class="stat-key">orders processed</p>
              </div>
              <div class="column is-2-tablet is-4-mobile has-text-centered">
                <p class="stat-val">42480k</p>
                <p class="stat-key">likes given away</p>
              </div>
              <div class="column is-2-tablet is-4-mobile has-text-centered">
                <p class="stat-val">6hr</p>
                <p class="stat-key">Order time</p>
              </div>
            </div>

        
          </div>

          <div class="columns">
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                   <img src="https://i.ibb.co/GkDvRpv/1000.jpg" alt="1000" border="0">
                  </figure>
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">
                       100 Followers
                      </p>
                      <button class="card-header-icon" aria-label="more options">
                        <span class="icon">
                          <i class="fas fa-angle-down" aria-hidden="true"><div class="tag is-large is-success">$4.99USD</div></i>
                        </span>
                      </button>
                    </header>
                    <div class="card-content">
                      <div class="content">
                        <div class="tag is-link"><b>25%</b> CHANCE 1,000 FREE VIEWS!</div><p>
                        <li>No Password Required </li>
                        <li>Quick Delivery</li>
                        <li>pre-delivery refund</li>
                        <li> chance free views</li></p>
                        <br>
                        <time datetime="2016-1-1"> <i>updated:</i>8/2021</time>
                      </div>
                    </div>
                    <footer class="card-footer">
                      <a href="http://topfollow.us/tiktok/checkout-tiktok" class="card-footer-item">Order Now</a>
            
                    </footer>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                  <img src="https://i.ibb.co/GkDvRpv/1000.jpg" alt="1000" border="0">
                  </figure>
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">
                       200 Followers
                      </p>
                      <button class="card-header-icon" aria-label="more options">
                        <span class="icon"><div class="tag is-large is-success">$9.99USD</div>
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </header>
                    <div class="card-content">
                      <div class="content"> <div class="tag is-link"><b>40%</b> CHANCE 1,000 FREE VIEWS!</div><p>
                        <li>No Password Required </li>
                        <li>Quick Delivery</li>
                        <li>pre-delivery refund</li>
                        <li> chance free views</li></p>
                        <br>
                        <time datetime="2016-1-1"> <i>updated:</i>8/2021</time>
                      </div>
                    </div>
                    <footer class="card-footer">
                                    <a href="http://topfollow.us/tiktok/checkout-tiktok" class="card-footer-item">Order Now</a>

                    </footer>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                 <img src="https://i.ibb.co/GkDvRpv/1000.jpg" alt="1000" border="0">
                  </figure>
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">
                       500 Followers
                      </p>
                      <button class="card-header-icon" aria-label="more options">
                        <span class="icon"><div class="tag is-large is-success">$14.99USD</div>
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </header>
                    <div class="card-content">
                      <div class="content"> <div class="tag is-link"><b>50%</b> CHANCE 1,000 FREE VIEWS!</div><p>
                       <li>No Password Required </li>
                        <li>Quick Delivery</li>
                        <li>pre-delivery refund</li>
                        <li> chance free views</li></p>
                        <br>
                        <time datetime="2016-1-1"> <i>updated:</i>8/2021</time>
                      </div>
                    </div>
                  </div>
                </div>
                <footer class="card-footer">
                                   <a href="http://topfollow.us/tiktok/checkout-tiktok" class="card-footer-item">Order Now</a>

                </footer>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">

              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
             <img src="https://i.ibb.co/GkDvRpv/1000.jpg" alt="1000" border="0">
                  </figure>
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">
                       1000 Followers
                      </p>
                      <button class="card-header-icon" aria-label="more options">
                        <span class="icon"><div class="tag is-large is-success">$24.99USD</div>
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </header>
                    <div class="card-content">
                      <div class="content"> <div class="tag is-link"><b>60%</b> CHANCE 2,000 FREE VIEWS!</div><br>
                        
                        <li>No Password Required </li>
                        <li>Quick Delivery</li>
                        <li>pre-delivery refund</li>
                        <li> chance free views</li></p>
                      
                        <br>
                        <time datetime="2016-1-1"> <i>updated:</i>8/2021</time>
                      </div>
                    </div>
                    <footer class="card-footer">
                                       <a href="http://topfollow.us/tiktok/checkout-tiktok" class="card-footer-item">Order Now</a>

                    </footer>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                <img src="https://i.ibb.co/GkDvRpv/1000.jpg" alt="1000" border="0">
                  </figure>
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">
                       3,000 Followers
                      </p>
                      <button class="card-header-icon" aria-label="more options">
                        <span class="icon"><div class="tag is-large is-success">$44.99USD</div>
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </header>
                    <div class="card-content">
                       <div class="content"> <div class="tag is-link"><b>3,000 FREE VIEWS!</b></div><p>
                       <li>No Password Required </li>
                        <li>Quick Delivery</li>
                        <li>pre-delivery refund</li>
                        <li> chance free views</li></p>
                        <br>
                        <time datetime="2016-1-1"> <i>updated:</i>8/2021</time>
                      </div>
                    </div>
                    <footer class="card-footer">
                                  <a href="http://topfollow.us/tiktok/checkout-tiktok" class="card-footer-item">Order Now</a>

                    </footer>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
     <img src="https://i.ibb.co/GkDvRpv/1000.jpg" alt="1000" border="0">
                  </figure>
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">
                      5,000 Followers
                      </p>
                      <button class="card-header-icon" aria-label="more options">
                        <span class="icon"><div class="tag is-large is-success">$64.99USD</div>
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </header>
                    <div class="card-content">
                      <div class="content"> <div class="tag is-link"><b>5,000 FREE VIEWS!</b></div><p>
                      <li>No Password Required </li>
                        <li>Quick Delivery</li>
                        <li>pre-delivery refund</li>
                        <li> chance free views</li></p>
                        <br>
                        <time datetime="2016-1-1"> <i>updated:</i>8/2021</time>
                      </div>
                    </div>
                    <footer class="card-footer">
                             <a href="http://topfollow.us/tiktok/checkout-tiktok" class="card-footer-item">Order Now</a>

                    </footer>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>

          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Tweets</p>
                <p class="title">3,456</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Following</p>
                <p class="title">123</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Followers</p>
                <p class="title">456K</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Likes</p>
                <p class="title">789</p>
              </div>
            </div>
          </nav>



        </div>
      </div>
    </div>
  </div>


{% endblock %}
