{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="container is-fluid">
  <div class="section profile-heading">
    <div class="columns is-mobile is-multiline">
      <div class="column is-2">
        <span class="header-icon user-profile-image">

        </span>
      </div>
      <div class="column is-4-tablet is-10-mobile name">
        <p>
          <span class="title is-bold"> topfollow.us</span>
          <br>

                  <br>
                </p>
                <p class="tagline">

                  Use social media like a pro! <br>
                  topfollow brings you the tools the pros use for way less!

                </p>
              </div>
              <div class="column is-2-tablet is-4-mobile has-text-centered">
                <p class="stat-val">20k</p>
                <p class="stat-key">orders processed</p>
              </div>
              <div class="column is-2-tablet is-4-mobile has-text-centered">
                <p class="stat-val">480k</p>
                <p class="stat-key">likes given away</p>
              </div>
              <div class="column is-2-tablet is-4-mobile has-text-centered">
                <p class="stat-val">6hr</p>
                <p class="stat-key">process time</p>
              </div>
            </div>

   
          </div>

          <div class="columns">
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                   <img src="https://i.ibb.co/Fssry0S/pile-3d-play-button-logos-1379-880.webp" alt="pile-3d-play-button-logos-1379-880" border="0">
                  </figure>
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">
                       1,000 Views
                      </p>
                      <button class="card-header-icon" aria-label="more options">
                        <span class="icon">
                          <i class="fas fa-angle-down" aria-hidden="true"><div class="tag is-large is-success">$8.99USD</div></i>
                        </span>
                      </button>
                    </header>
                    <div class="card-content">
                      <div class="content">
                        <div class="tag is-link">10% DISCOUNT!</div><p>
                        <li>No Password Required </li>
                        <li>Quick Delivery</li>
                        <li>pre-delivery refund</li>
                        <li> chance free views</li></p>
                        <br>
                        <time datetime="2016-1-1"> <i>updated:</i>8/2021</time>
                      </div>
                    </div>
                    <footer class="card-footer">
                      <a href="http://topfollow.us/youtube/checkout-youtube" class="card-footer-item">Order Now</a>
            
                    </footer>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                  <img src="https://i.ibb.co/Fssry0S/pile-3d-play-button-logos-1379-880.webp" alt="pile-3d-play-button-logos-1379-880" border="0">
                  </figure>
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">
                       2,000 Views
                      </p>
                      <button class="card-header-icon" aria-label="more options">
                        <span class="icon"><div class="tag is-large is-success">$18.99USD</div>
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </header>
                    <div class="card-content">
                      <div class="content"><div class="tag is-link">10% DISCOUNT!</div><p>
                        <li>No Password Required </li>
                        <li>Quick Delivery</li>
                        <li>pre-delivery refund</li>
                        <li> chance free views</li></p>
                        <br>
                        <time datetime="2016-1-1"> <i>updated:</i>8/2021</time>
                      </div>
                    </div>
                    <footer class="card-footer">
                                    <a href="http://topfollow.us/youtube/checkout-youtube" class="card-footer-item">Order Now</a>

                    </footer>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                 <img src="https://i.ibb.co/Fssry0S/pile-3d-play-button-logos-1379-880.webp" alt="pile-3d-play-button-logos-1379-880" border="0">
                  </figure>
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">
                       5,000 Views
                      </p>
                      <button class="card-header-icon" aria-label="more options">
                        <span class="icon"><div class="tag is-large is-success">$39.99USD</div>
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </header>
                    <div class="card-content">
                      <div class="content"><div class="tag is-link">10% DISCOUNT!</div><p>
                       <li>No Password Required </li>
                        <li>Quick Delivery</li>
                        <li>pre-delivery refund</li>
                        <li> chance free views</li></p>
                        <br>
                        <time datetime="2016-1-1"> <i>updated:</i>8/2021</time>
                      </div>
                    </div>
                  </div>
                </div>
                <footer class="card-footer">
                                   <a href="http://topfollow.us/youtube/checkout-youtube" class="card-footer-item">Order Now</a>

                </footer>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">

              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
             <img src="https://i.ibb.co/Fssry0S/pile-3d-play-button-logos-1379-880.webp" alt="pile-3d-play-button-logos-1379-880" border="0">
                  </figure>
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">
                       7,000 Views
                      </p>
                      <button class="card-header-icon" aria-label="more options">
                        <span class="icon"><div class="tag is-large is-success">$49.99USD</div>
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </header>
                    <div class="card-content">
                      <div class="content"><div class="tag is-link">10% DISCOUNT!</div>
                        <li>No Password Required </li>
                        <li>Quick Delivery</li>
                        <li>pre-delivery refund</li>
                        <li> chance free views</li></p>
                      
                        <br>
                        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                      </div>
                    </div>
                    <footer class="card-footer">
                                       <a href="http://topfollow.us/youtube/checkout-youtube" class="card-footer-item">Order Now</a>

                    </footer>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                <img src="https://i.ibb.co/Fssry0S/pile-3d-play-button-logos-1379-880.webp" alt="pile-3d-play-button-logos-1379-880" border="0">
                  </figure>
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">
                       10,000 Views
                      </p>
                      <button class="card-header-icon" aria-label="more options">
                        <span class="icon"><div class="tag is-large is-success">$64.99USD</div>
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </header>
                    <div class="card-content">
                       <div class="content"><div class="tag is-link">BUY NOW GET 500 VIEWS FREE!</div><p>
                       <li>No Password Required </li>
                        <li>Quick Delivery</li>
                        <li>pre-delivery refund</li>
                        <li> chance free views</li></p>
                        <br>
                        <time datetime="2016-1-1"> <i>updated:</i>8/2021</time>
                      </div>
                    </div>
                    <footer class="card-footer">
                                  <a href="http://topfollow.us/youtube/checkout-youtube" class="card-footer-item">Order Now</a>

                    </footer>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
     <img src="https://i.ibb.co/Fssry0S/pile-3d-play-button-logos-1379-880.webp" alt="pile-3d-play-button-logos-1379-880" border="0">
                  </figure>
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">
                      25,000 Views
                      </p>
                      <button class="card-header-icon" aria-label="more options">
                        <span class="icon"><div class="tag is-large is-success">$149.99USD</div>
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </header>
                    <div class="card-content">
                      <div class="content"><div class="tag is-link">10% DISCOUNT!</div><p>
                      <li>No Password Required </li>
                        <li>Quick Delivery</li>
                        <li>pre-delivery refund</li>
                        <li> chance free views</li></p>
                        <br>
                        <time datetime="2016-1-1"> <i>updated:</i>8/2021</time>
                      </div>
                    </div>
                    <footer class="card-footer">
                             <a href="http://topfollow.us/youtube/checkout-youtube" class="card-footer-item">Order Now</a>

                    </footer>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>

          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Tweets</p>
                <p class="title">3,456</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Following</p>
                <p class="title">123</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Views</p>
                <p class="title">456K</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Likes</p>
                <p class="title">789</p>
              </div>
            </div>
          </nav>


        </div>
      </div>
    </div>
  </div>

{% endblock %}
